{% extends "base.html" %}
{% block title %}{%- block error -%}{%- endblock -%} | {{ super() }}{% endblock %}

{% block body %}
<section>
    <div class="content error">
        <i style="background-image:url({{ url_for('static', filename='img/404.jpg') }});"></i>
        <h1>{{ self.error() }} ({%- block code -%}{%- endblock -%}).</h1>
        <p>{%- block message -%}{%- endblock %} Try following the links above, or click <a href="{{ url_for('client.index') }}">here</a>.</p>
    </div>
</section>
{% endblock body %}